/*
----------------------------------------------
General CSS
----------------------------------------------
*/
$primary-color: #e74c3c;
$secondary-color: #c0392b;
$footer-color: #ecf0f1;
/* Bootstrap break points */
$max-xs: 543px;
$min-sm: 544px;
$max-sm: 767px;
$min-md: 768px;
$max-md: 991px;
$min-lg: 992px;
$max-lg: 1199px;
$min-xl: 1200px;

*,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
/**
 * STATIC FOOTER BOTTOM
 */
#footer {
    height: 132px;
}

#content {
    $header-height: 222px;
    min-height: calc(100vh - 132px - #{$header-height});
}
/* Company Logo */
#main-logo {
    height: 100px;
    margin: 30px 0;
}
/* Customise Navbar Color */
$bgDefault: #e74c3c;
$bgHighlight: #e74c3c;
$colDefault: #e74c3c;
$colHighlight: #e74c3c;
$dropDown: false;

.pad-top-20 {
    padding-top: 20px;
}

.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    margin-bottom: 0;
    height: auto;
    // Sets icon size
    .icon {
        font-size: 1.5em;
    }
    // Welcome to Site/Username CSS
    .navbar-brand {
        color: white;
        padding: 5px 0 0;
        height: auto;

        &:focus,
        &:hover {
            color: white;
        }

        span {
            color: $primary-color;
        }
    }

    .navbar-text {
        color: $colDefault;
    }

    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                padding: 5px 15px;

                &:focus,
                &:hover {
                    color: $colHighlight;
                }

                .icon {
                    font-size: 1.8em;
                }
            }
            // Locale Swither CSS
            &.locale-switcher {
                //background-color: white;
                font-size: 1.5em;
                margin-top: 15px;

                > a {
                    color: white;
                }

                &.open {
                    > a {
                        color: white;
                    }
                }

                .dropdown-menu {
                    box-shadow: none;
                    background-color: #ecf0f1;

                    a {
                        &:active,
                        &:focus,
                        &:hover {
                            background-color: inherit;
                        }
                    }
                }
            }
        }

        > .active {
             > a,
             > a:hover,
            > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }

        > .open {
             > a,
             > a:hover,
            > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
    }

    .navbar-toggle {
        border-color: $bgHighlight;

        &:focus,
        &:hover {
            background-color: $bgHighlight;
        }

        .icon-bar {
            background-color: $colDefault;
        }
    }

    .navbar-collapse,
    .navbar-form {
        border-color: $colDefault;
    }

    .navbar-link {
        color: $colDefault;

        &:hover {
            color: $colHighlight;
        }
    }
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
            color: $colDefault;

            &:focus,
            &:hover {
                color: $colHighlight;
            }
        }

        > .active {
             > a,
             > a:hover,
            > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
    }
}
/*
----------------------------------------------
Default Page CSS
----------------------------------------------
*/
// Form Fields

.form-group {
    margin-bottom: 20px;

    .form-control {
        border-radius: 0;
        background-color: $footer-color;
    }
}
/* Button Classes */
@mixin make-button($bg-color, $border-color, $text-color) {
    background-color: $bg-color;
    border-color: $border-color !important;
    color: $text-color !important;

    &.active,
    &.focus,
    &.hover,
    &:active,
    &:active:focus,
    &:focus,
    &:hover {
        background-color: $bg-color !important;
        border-color: $border-color !important;
        color: $text-color !important;
    }
}

.btn-primary {
    @include make-button($footer-color, $footer-color, #333333);
}

.btn {
    border-radius: 10px;
    min-width: 100px;
    font-weight: 500;
    margin-bottom: 30px;
}

.btn-link {
    font-weight: normal;
    color: $primary-color;

    &:active,
    &:focus,
    &:hover {
        color: $primary-color;
    }
}

.section-header {
    h1 {
        padding: 0;
        margin-top: 60px;
        margin-bottom: 30px;
        font-weight: 200;
    }

    .line {
        border-bottom: 1px solid $footer-color;
        margin: 30px 0;
    }
}

.form1 {
    padding-bottom: 20px;

    .btn {
        margin-top: 25px;
    }

    input {
        border: none;
        background-color: $footer-color;
        width: 200px;
        height: 33px;
        margin-right: 13px;
    }
}
/* Footer CSS */
#footer {
    background-color: $footer-color;
    text-align: center;
    padding: 20px 0;

    .footer-nav {
        list-style: none;
        padding: 0;
        font-size: 16px;
        text-align: center;
        margin-bottom: 20px;

        li {
            display: inline-block;
            padding-left: 40px;
            padding-top: 20px;
        }
        // Footer Links
        a {
            font-size: 16px;
            font-weight: 400;
            text-decoration: underline;
            color: #333;

            &:active,
            &:focus,
            &:hover {
                color: #333;
            }
        }
    }
}
/*
----------------------------------------------
Home Page CSS
----------------------------------------------
*/
.dashboard-block {
    color: white;
    $offset: 55px;

    .block {
        min-height: 200px;
        background-color: $primary-color;
        border-bottom: 10px solid $secondary-color;
        padding: 5px;
    }
    // Icon color
    span {
        color: $primary-color;
    }

    h3 {
        text-transform: uppercase;
    }

    p {
        margin-left: $offset;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin-left: $offset;

        li {
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 10px;
        }
    }

    a {
        font-size: 16px;
        font-weight: 400;
        text-decoration: underline;
        color: white;

        &:active,
        &:focus,
        &:hover {
            color: white;
        }
    }
}
/*
----------------------------------------------
Articles Page CSS
----------------------------------------------
*/
.section-content {
    h3 {
        margin-bottom: 30px;
        margin-top: 0;
    }

    .btn {
        margin-bottom: 30px;
    }
}

.table-bordered {
    text-align: center;
    border-color: $footer-color;
    margin-bottom: 60px;

    td {
        padding-top: 20px;
    }

    td,
    th,
    tr {
        border-color: $footer-color !important;
    }

    thead {
        background-color: $footer-color;

        th {
            text-align: center;
            font-size: 16px;
        }
    }

    ul {
        list-style: none;
        padding-left: 0;
        text-align: center;
        margin: 0;

        .icon {
            color: $primary-color;
            font-size: 1.5em;
        }

        li {
            display: inline-block;
            padding-left: 20px;
        }
    }
}

.color-li-green {
    i {
        color: greenyellow;
    }

    .fa-check {
        color: white;
    }
}
/*------left block-----*/
.left-block {
    color: white;
    $offset: 55px;

    .block {
        height: 150px;
        width: 250px;
        background-color: #e74c3c;
        border-bottom: 10px solid #c0392b;
        /* padding: 5px; */
        margin-top: 200px;

        a {
            text-decoration: none;
        }
    }
    // Icon color
    span {
        color: $primary-color;
    }

    h3 {
        text-transform: uppercase;
    }

    p {
        margin-left: $offset;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin-left: $offset;
        margin-top: 15px;
        font-size: 15px;

        li {
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 10px;
        }
    }

    a {
        font-size: 16px;
        font-weight: 400;
        text-decoration: underline;
        color: white;

        &:active,
        &:focus,
        &:hover {
            color: white;
        }
    }
}
/*
----------------------------------------------
FAQ Page CSS
----------------------------------------------
*/
.faq-section {
    p {
        padding-bottom: 20px;
    }
}
/*
----------------------------------------------
LAYOUT NEWLINK Page CSS
----------------------------------------------
*/
.layout_newlink {
    #parent {
        background-color: #ecf0f1;
        width: 100%;
        height: 30px;
    }
}
/*
----------------------------------------------
NEW ARTICLE Page CSS
----------------------------------------------
*/
.img-width {
    padding-left: 0;

    &.has-error {
        img {
            border: 1px solid #a94442;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }
    }

    img {
        display: block;
        height: 250px;
        width: 250px;
        margin-top: 20px;
    }
}

#cancel_upload {
    font-size: 1.3em;
}

.has-error .mce-tinymce {
    border-color: #a94442;
}

.text-area {
    padding-left: 0;
}

.btn-padding {
    padding-left: 0;

    .btn {
        margin-bottom: 0;
        margin-right: 20px;
    }
}

.color-li-primary {
    i {
        color: $primary-color;
    }

    .fa-trash-o:before {
        content: "\f014";
        color: white;
    }
}

.browse-btn {
    label {
        border-radius: 10px;
        min-width: 102px;
        height: 33px;
        font-weight: 500;
        background-color: $footer-color;
        padding: 7px 30px;
    }

    .hidden {
        position: absolute;
        left: -99999px;
    }
}

#btn-browse-inline {
    input {
        display: inline!important;
        margin-right: 50px;
    }

    label {
        padding-left: 20px;
        margin-left: 50px;
    }
}
